[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "submodules/git-freeze"]
	path = submodules/git-freeze
	url = https://gist.github.com/7371965.git
