[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "submodules/git-freeze"]
	path = submodules/git-freeze
	url = git@github.com:peterjm/git-freeze.git
[submodule "submodules/restart_all_pow_applications"]
	path = submodules/restart_all_pow_applications
	url = https://gist.github.com/7381116.git
[submodule "submodules/git-push-remote"]
	path = submodules/git-push-remote
	url = https://gist.github.com/7381172.git
